@page {
    size: A4;
}

html,
body {
    width: 210mm;
    height: 297mm;
    margin: 0px;

    display: grid;
    grid-template-rows: 1fr 9fr;

    font-family: Helvetica, sans-serif;
    color: #575757;
}

header {
    text-align: center;
    align-content: center;

    border-bottom: 1px solid #575757;
}

main {
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.box {
    padding: 1em;
}

.font-title {
    letter-spacing: 0.2em;
    font-size: x-large;
}

.font-name {
    font-weight: bold;
    font-size: xx-large;
}

.left-column {
    background-color: #f8f8f8;
}