body {
    color: #575757;
    font-family: Helvetica, sans-serif;
}

.name,
.job {
    letter-spacing: .1em;
    text-transform: uppercase;
}

.name {
    font-weight: bold;
    font-size: x-large;
}

.job {
    font-size: large;
}

a {
    color: #575757;
}
