@page {
    size: A4;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 210mm;
    height: 297mm;

    display: grid;
    grid-template-rows: 2cm;

    border-bottom: 1px solid #575757;
}

header {
    align-content: center;
    text-align: center;

    border-bottom: 1px solid #575757;
}

main {
    display: grid;
    grid-template-columns: 3.5fr 6.5fr;
}

.container {
    padding: 1em;
    padding-bottom: 0;
}

.grey-background {
    background-color: #f4f4f4;
}
