section {
    margin-bottom: 3em;
    font-size: 13px;

    h2 {
        font-size: large;
        letter-spacing: .1em;
        text-transform: uppercase;

        margin-bottom: .2em;
    }

    ul {
        margin-top: .3em;
        padding-left: 1.5em;
    }

    section {
        margin-bottom: 2em;

        h4 {
            font-style: italic;
            font-weight: normal;
        }

        div {
            display: flex;
            justify-content: space-between;
        }
    }
}

.container section:last-child {
    margin-bottom: 0;
}
